.navbar-style{
    background-color: #1e8759!important;
}

.green-highlight{
    color: rgb(88,139,118);
    font-size: 40px;
}

.blue-highlight{
    color: rgb(120,170,255);
    font-size: 25px;
}

.hand-icon{
    cursor: pointer;
}